= link_to "login", new_login_path, class: "btn"
table class="editable_table"
	thead
		tr
			th email
			th name
			th lastname
			th title
			th action
	tbody
		= render partial: "form_tr"

<input type="text" id="editor" tabindex="1">

javascript:
	var gCurCell;
	
	$(document).ready(function(){
	    $('body').on('click', '.editable_table td', function(){
	        gCurCell = this;
	        var lPos = $(this).position();
	        $('#editor').css({
	            'top': (lPos.top) + 'px',
	            'left': (lPos.left) + 'px',
	            'width': $(this).width(),
	            'height': $(this).height()
	        }).val($(this).html()).show().focus();
	    });
	    $('#editor').blur(function(){
	        $(this).hide();
	        $(gCurCell).html($(this).val());

	        var id = $(gCurCell).parent().data('id')
	        var tr = $(gCurCell).parent();
	        var fn = $(tr).find('#first_name').text();
	        var ln = $(tr).find('#last_name').text();
	        var em = $(tr).find('#email').text();
	        var tt = $(tr).find('#title').text();

	        $.ajax({
	        	url: "/users/" + id,
	        	data: { id: id, user:{
	        		first_name: fn,
	        		last_name: ln,
	        		email: em,
	        		title: tt,
	        	}},
	        	type: "PUT"
	        });

	    });
	});