.field {clear:both; text-align: right; line-height:35px;}
label {float:left; padding-right:35px;}
.new_task{
	float:left;
	margin: 0 25% 0 25%;
	width: 50%;
}
.edit_task{
	float:left;
	margin: 0 25% 0 25%;
	width: 50%;
}
select{
	width: 220px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
}
