td, th {
	border-bottom: 1px solid grey;
	text-align: center;
}
th {
	background-color: #cccccc;
	width:200px;
}
td{
	text-align: left; 
}
table{
	border: 0px solid black;
	margin: 0 10% 0 10%;
	height: 25px;
	width: 80%;
}

.field {clear:both; text-align: right; line-height:35px;}
.field2 {clear:both; text-align: center; line-height:35px;}
label {float:left; padding-right:10px;}
.edit_user {
	float:left;
	margin: 0 25% 0 25%;
	width: 50%;
}

#editor
{
    display: none;
    position: absolute;
    z-index:999999;
    outline: none;
    border:none;
}
input[type="text"] {
    width: 200px;
}